* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: #4c4a4f;
    font-family: sans-serif;
    border-top: 10px solid #008080;
    position: relative;
}

.current {
    color: red;
}


.startScreen {
    display: none;
}


.preRoundGetReadyScreen {
    display: none;
}

.inGameScreen {
    display: none;
}

.roundTimeBar {
    width: 100%;
    background-color: #afa6a5;
}

.timeBar {
    width: 100;
    height: 30px;
    background-color: #e3d997;
    transition-timing-function: linear;
}

.gameScreen {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.gameScreen .stratagemArrow {}


.passed img {
    filter: hue-rotate(0deg) brightness(1.2) contrast(1.2) saturate(1.2);
    background-color: red;
}

.postRoundSummaryScreen {
    display: none;
}

.gameOverLeaderboard {
    display: none;
}