@font-face {
    font-family: 'SinclairR';
    src: url('fonts/FSSinclairRegular.otf') format('opentype');
    /* Specify font format */
}

@font-face {
    font-family: 'SinclairM';
    src: url('fonts/FSSinclairMedium.otf') format('opentype');
}







* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {}

/* 4c4a4f */
body {
    color: white;
    /* background-color: #3d3b3f; */
    /* height: 100%; */
    padding: 10vh 0;
}

body {
    height: calc(100vh - 20vh);
    background: url('SuperEarth.png') no-repeat center center fixed;
    background-size: cover;
}

.mainScreen {
    border-top: solid white 1vh;
    border-bottom: solid white 1vh;
    height: calc(100vh - 22vh);
}







/*start Screen*/
.startScreen {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    /* Stack items vertically */
    text-align: center;
    letter-spacing: .1rem;
    /*
    height: 100%;h
    flex-direction: column; */
    /* Stack items vertically */
    /* text-align: center;
     */
}

.startScreen h2 {

    font-family: 'SinclairM', sans-serif;
    font-size: min(8vw, 1600px);
    /* margin-bottom: calc((100vh/2 - 12vw)/2); */
    margin-bottom: 2vh;
}

.startScreen h3 {
    line-height: 0;
    font-family: 'SinclairM', sans-serif;
    font-size: min(4vw, 1600px);
    margin-top: 40vh;
    position: absolute;
    color: #ffff66;
}

/* Get Ready Screen */
.preRoundGetReadyScreen {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    /* Stack items vertically */
    text-align: center;
    letter-spacing: .1rem;
}

.preRoundGetReadyScreen h2 {
    font-family: 'SinclairM', sans-serif;
    font-size: min(8vw, 1600px);
    margin-bottom: 2vh;
}

.preRoundGetReadyScreen .roundLabel {
    margin-top: 28vh;
    position: absolute;
    font-family: 'SinclairM', sans-serif;
    font-size: min(2.0vw, 1600px);
    color: white;
}

.preRoundGetReadyScreen .gameRound {
    margin-top: 40vh;
    position: absolute;
    font-family: 'SinclairM', sans-serif;
    font-size: min(3.9vw, 1600px);
    color: #ffff66;
}

/* inGameScreen, gameScreen, timebar, images, arrows */

.inGameScreen {
    justify-content: center;
    display: none;
    height: 100%;
    width: 100%;
    flex: 0 0 100%;
}

.gameRoundLabelValue {
    margin: 5vh 5vw;

}

.gameRoundLabelValue .gameRoundLabel {
    color: white;
    font-family: 'SinclairM', sans-serif;
    font-size: min(2vw, 1600px);
    margin: 0;
    line-height: 1;
}

.gameRoundLabelValue .gameRoundValue {
    font-family: 'SinclairM', sans-serif;
    font-size: min(4vw, 1600px);
    color: #ffff66;
    text-align: left;
    margin: 0;
    line-height: 1;
}


.stratagemImgArrowsName {
    margin: 5vh 5vw;
    display: flex;
    flex-direction: column;
}

.stratagemIconsAndArrows {}

.stratagemImageContainer {
    min-width: 60vw;
}

.arrowContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.playerScoreLabelValue {
    margin: 7vh 5vw;
    overflow: visible;
    position: relative;
}

.playerScoreLabelValue .playerScoreLabel {
    color: white;
    font-family: 'SinclairM', sans-serif;
    font-size: min(2vw, 1600px);
    margin-top: calc(100vh - (100vh - 4vw));
    line-height: 0.1;
    text-align: right;
}

.playerScoreLabelValue .playerScore {
    margin: 0;
    font-family: 'SinclairM', sans-serif;
    font-size: min(4vw, 1600px);
    color: #ffff66;
    text-align: right;
    margin: 0;
    line-height: 1;
    position: absolute;
    right: 0;
}


.roundTimeBar {
    /* width: 100%; */
    background-color: #afa6a5;
    height: 1.7vw;
}

.timeBar {
    /* width: 100; */
    height: 1.7vw;
    background-color: #ffff66;
    transition-timing-function: linear;
}

.gameScreen {
    flex-direction: column;
    /* display: block; */
    /* display: flex;
    justify-content: center;
    height: 100vh; */
}


.stratagemImageContainer {
    display: block;
    flex-wrap: wrap;
    overflow: clip;
    /* display: flexbox;
    position: relative;
    bottom: 200px;
    left: -730px; */
}

.stratagemImage {
    width: calc(100% / 7);
    /* Set appropriate size */
    /* Maintain aspect ratio */
    box-sizing: border-box;
}

.currentImg {
    width: calc(100% / 4);
    /* Set appropriate size */
    height: auto;
    /* Maintain aspect ratio */
    border: solid;
    border-width: 1vh;
    border-color: #ffff66;
}

.passedImg {
    visible: none;
}

.stratagemNameDisplay {
    font-family: 'SinclairM', sans-serif;
    font-size: min(2vw, 1600px);
    line-height: 1;
    color: black;
    text-align: center;
    /* margin-top: 150px; */
}

.stratagemNameDisplay,
.timeBar {}

.gameScreen .arrowContainer {
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.stratagemArrow img {
    width: calc(100vw / 25);
    height: auto;
    margin: 0 0.2vw;
}


.passed img {
    filter: sepia(1) saturate(4) brightness(2);
}







/* post round summary screen */

.postRoundSummaryScreen {
    display: none;
}

.roundSummaryLabelValue {
    width: 100vh;
    margin: 0;
    margin-top: 10vh;
    padding: 0;
    flex-grow: 1
}

.roundBonus,
.timeBonus,
.perfectRoundBonus,
.totalScore {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 4vh;
    text-align: center;
}

.roundBonusValue,
.timeBonusValue,
.perfectRoundBonusValue,
.totalScoreValue {
    color: #ffff66;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: top;
    font-size: 8vh;
}







/* game over leader board screen */
.gameOverLeaderboard {
    display: none;
    margin-top: 6vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    /* Stack items vertically */
    text-align: center;
}

.gameOverLeaderboard>* {
    text-align: center;
    color: white;
    font-family: 'SinclairM', sans-serif;
    margin: 0;
}

.gameOver {
    font-size: min(8vw, 1600px);
    justify-content: center;
    margin: 0;
}

.highScores {
    font-size: min(2.8vw, 1600px);
    margin: 0;
}

.maxScores {
    font-size: min(1.5vw, 1600px);
    margin: 0;
}

.playerFinalScore {
    color: #ffff66;
    font-size: min(4vw, 1600px);

    margin: 0;
}

.yourFinalScore {
    font-size: min(2.2vw, 1600px);
}