@font-face {
    font-family: 'SinclairM';
    src: url('fonts/FSSinclairRegular.otf') format('opentype');
    /* Specify font format */
}



* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {}

body {
    color: white;
    background-color: #4c4a4f;
    /* height: 100%; */
    padding: 10vh 0;
}

body {
    height: calc(100vh - 20vh);
}

.mainScreen {
    border-top: solid white 1vh;
    border-bottom: solid white 1vh;
    height: calc(100vh - 22vh);
}


/*start Screen*/

.startScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    /* Stack items vertically */
    text-align: center;
    letter-spacing: .1rem;
}

.startScreen h2 {
    font-family: 'SinclairM', sans-serif;
    font-size: max(5vw, 60px);
    margin-bottom: 2vh;
}

.startScreen h3 {
    margin-top: 40vh;
    position: absolute;
    font-family: 'SinclairM', sans-serif;
    font-size: max(2.5vw, 30px);
    color: #ffff66;
}

.preRoundGetReadyScreen {
    display: none;
}

.inGameScreen {
    display: none;
}

.roundTimeBar {
    width: 100%;
    background-color: #afa6a5;
}

.timeBar {
    width: 100;
    height: 30px;
    background-color: #ffff66;
    transition-timing-function: linear;
}

.gameScreen {
    display: flex;
    justify-content: center;
    height: 100vh;
}


.stratagemImageContainer {
    display: flexbox;
    position: relative;
    bottom: 200px;
    left: -730px;
}

.stratagemImage {
    width: 100px;
    /* Set appropriate size */
    height: auto;
    /* Maintain aspect ratio */
}

.currentImg {
    width: 100px;
    /* Set appropriate size */
    height: auto;
    /* Maintain aspect ratio */
    border: solid;
    border-width: 5px;
    border-color: #ffff66;
}

.passedImg {
    visible: none;
}

.stratagemNameDisplay {
    color: black;
    margin-top: 150px;
}

.stratagemNameDisplay,
.timeBar {
    background-color: #ffff66;
}

.gameScreen .stratagemArrow {}


.passed img {
    filter: sepia(1) saturate(4) brightness(2);
}

.postRoundSummaryScreen {
    display: none;
}

.gameOverLeaderboard {
    display: none;
}